./can_be_deleted
./yandex_tasks
./effective_LR_pet_project/data
./effective_LR_pet_project/rest
./effective_LR_pet_project/first_logs_from_Rostik
./effective_LR_pet_project/second_logs_from_Rostik
./job_search